<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.testinone" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.receive_boot_completed" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ntfy.NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".ntfy.CustomNotificationActivity"
            android:label="@string/title_activity_custom_notification" >
        </activity>
        <activity
            android:name=".ntfy.BackAppActivity"
            android:label="@string/title_activity_back_app"
            android:parentActivityName=".ntfy.NotificationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ntfy.BackScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_back_screen"
            android:launchMode="singleTask"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name=".BlankActivity"
            android:label="@string/title_activity_blank" >
        </activity>

        <receiver
            android:name=".ntfy.MyNotificationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".webviews.MyWebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".listView.FruitActivity"
            android:label="@string/title_activity_fruit" >
        </activity>
        <activity
            android:name=".webviews.HttpActivity"
            android:label="@string/title_activity_http" >
        </activity>
        <activity
            android:name=".webviews.WebDataActivity"
            android:label="@string/title_activity_web_data" >
        </activity>
        <activity
            android:name=".drawer.DrawerActivity"
            android:label="@string/title_activity_drawer" >
        </activity>
        <activity
            android:name=".drawer.RecycleFruitActivity"
            android:label="@string/title_activity_recycle_fruit" >
        </activity>
        <activity
            android:name=".drawer.DrawerActionBarActivity"
            android:label="@string/title_activity_drawer_layout" >
        </activity>
        <activity
            android:name=".drawer.DrawerTabsActivity"
            android:label="@string/title_activity_tab_drawer" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_main2" >
        </activity>

        <receiver android:name=".BootReciver">
            <intent-filter>
                <action android:name="android.intent.action.boot_completed" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
