<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.testinone" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.receive_boot_completed" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webviews.MyWebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".webviews.HttpActivity"
            android:label="@string/title_activity_http" >
        </activity>
        <activity
            android:name=".webviews.WebDataActivity"
            android:label="@string/title_activity_web_data" >
        </activity>
        <activity
            android:name=".threads.ThreadActivity"
            android:label="@string/title_activity_thread" >
        </activity>
        <activity
            android:name=".EdtActivity"
            android:label="@string/title_activity_edt" >
        </activity>
        <activity
            android:name=".tv.AdjustTextViewActivity"
            android:label="@string/title_activity_adjust_text_view" >
        </activity>
    </application>

</manifest>
